* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Jost", sans-serif;
  list-style: none;
  text-decoration: none;
}
header {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  background-color: white;
  box-shadow: 0px 0px 10px(rgb(0 0 0/10%));
}
.logo img {
  max-width: 120px;
  height: auto;
}
.navmenu {
  display: flex;
}
.navmenu a {
  color: #2a2a2a;
  font-size: 16px;
  padding: 10px 20px;
  font-weight: 400;
  text-transform: capitalize;
  transition: all 0.42s ease;
}
.navmenu a:hover {
  color: #ee1c47;
}
.navicon {
  display: flex;
  align-items: center;
}
.navicon i {
  margin-right: 20px;
  color: #2a2a2a;
  font-size: 25px;
  font-weight: 400;
  transition: all 0.42s ease;
}
.navicon i:hover {
  transform: scale(1.1);
  color: #ee1c47;
}
#menu-icon {
  font-size: 35px;
  color: #2a2a2a;
  z-index: 1001;
  cursor: pointer;
}
section {
  padding: 5% 10%;
  /* border: 1px solid #256; */
  /* margin-bottom: 30px; */
}
.main-home {
  width: 100%;
  height: 100vh;
  background-image: url(./image/banner-3.png);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}
.main-text h5 {
  color: #ee1c47;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 16px;
}
.main-text h1 {
  color: #2a2a2a;
  font-size: 65px;
  /* padding: ; */
  text-transform: capitalize;
  font-weight: 600;
  margin: 6px 0 10px;
  line-height: 1.1;
}
.main-text p {
    color: 333c57;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}
.main-btn{
    display: inline;
    font-size: 16px;
    color: #111;
    font-weight: 500;
    padding: 12px 25px;
    border: 2px solid #111;
    transition: all .42 ease;
}
.main-btn:hover{
    background-color: #111;
    color: #fff;
}
.main-btn i{
    vertical-align: middle;
}
.down-arrow{
    position: absolute;
    top: 85%;
    right: 11%;
}
.down i{
    color: #2c2c2c;
    font-size: 30px;
    border: 2px solid #2c2c2c;
    border-radius: 50px;
    padding: 12px 12px;
}
.down i:hover{
    background-color: #2c2c2c;
    color: #fff;
}
/* <!-- trending-product section --> */
.centre-text h2{
  color: #111;
  font-size: 28px;
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
  text-transform: capitalize;

}
.centre-text span{
  color: #ee1c47;
}
.products{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,auto));
  /* border: 1px solid red; */
  gap: 2rem;
}
.row{
  position: relative;
  transition: all 0.40s;
}
.row img{
  width: 100%;
  height: auto;
  transition: all .40s;
}
.row img:hover{
  transform: scale(0.9);
}
.row h5{
  position: absolute;
  top: 13px;
  left: 13px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  padding: 3px 10px;
  border-radius: 2px;
  background-color: #27b737;
  text-transform: uppercase;
}
.heart-icon{
  position: absolute;
  right: 0;
  font-size: 20px;
}
.heart-icon:hover{
  color: #ee1c47;
}
.rating i{
  color:#ff8c00 ;
  font-size:18px ;
}
.price h4{
  font-size: 16px;
  color: black;
  text-transform: capitalize;
  font-weight: 400;

}
.price p{
  font-size: 14px;
  font-weight: 600;
  color: #111;
}
.client-review{
  background-color:#f3f4f6 ;
}
.review{
  text-align: center;
}
.review h3{
  color: #111;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}
.review img{
  width: 100px;
  height: auto;
  border-radius: 50px;
  margin: 10px 0;
}
.review p{
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 25px;
}
 /* update-section-css */
.up-center-text h2{
  text-align: center;
  color: #111;
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 30px;
  } 
  .cart img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    }
.update-cart{
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,auto));
  /* border: 1px solid pink; */
  gap: 2rem;

}
/* .cart{
  border: 1px solid pink;
  width: 380px;
} */
.cart h5{
  color: #636478;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
}
.cart h6{
  color: #151515;
  font-size: 14px;
  font-weight: 500;
}
.cart p{
  color: #707070;
  font-size: 15px;
  max-width: 380px;
  line-height: 25px;
  margin-bottom: 12px;
}
/* <!-- contact section --> */
.contact{
  background-color: #f3f4f6
  ;
}
.contact-info{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(160px,auto));
  gap: 3rem;
}
.social-icon #blue3:hover{
 color: blue;
}
.social-icon #blue2:hover{
  color: blue;
 }
 .social-icon #blue1:hover{
  color: blue;
 }
.first-info img{
  width: 140px;
  height: auto;

}
.contact-info h4{
  color: #212529;
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.contact-info p{
  color: #565656;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.42s;
}
.contact-info p:hover{
  color: #ee1c47;
}
.social-icon i{
  color: #565656;
  font-size: 20px;
  margin-right: 5px;
  transition: all 0.42s;

}
.social-icon i:hover{
  transform: scale(1.3);
}
.end-text{
  background-color: #edfff1;
  padding: 20px;
  text-align: center;
}
.end-text p{
  color: #111;
  text-transform: capitalize;
}

.navicon button{
  background: transparent;
  border: none;
}
/* responsiveness */

@media(max-width:800px) {
  .header{
    padding: 20px 3%;
    transition: all 0.4s;
    border: 5px solid #111;
  }
}

@media(max-width:630px){
  
  .main-text h1{
    font-size: 50px;
    transition: 0.4s;
  }
  .main-text p{
    font-size: 14px;
    transition: 0.4s;
  }
  .main-btn{
    padding: 10px 20px;
    transition: all 0.4s;
  }
}
@media(max-width:750px) {
  .navmenu{
    /* position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
    height: 180vh;
    background: #f4f6f4;
    display: flex;
    flex-direction: column;
    padding: 120px 20px;
    transition: all .42s;
    align-items: center; */
    display: none;

  }
  .navmenu a{
    display: block;
    padding: 18px 0;
  }
  
  
}